<div class="hero-unit">
	<img src="/images/wgo.png" alt="WGO" width="120" height="35">
	<form>
	  	<input type="text" ng-model="q" />
	    <button class="btn" ng-click="getPhotos()">Search</button>
  	</form>
</div>
<div class="sugestions">
	<div class="bg"></div>
  	<ul>
  		<li ng-repeat="sugestion in sugestions" ng-click="getPhotos(sugestion)">{{ sugestion }}</li>
  	</ul>
 </div>
<nav>
	<div class="bg"></div>
	<ul>
		<li ng-repeat="photo in photos.photos.photo" >
			<img ng-click="photoSelected(photo.id)" src="{{ photo.url_s }}" alt="{{ photo.title }}" width="40" height="40">
		</li>
	</ul>
</nav>
<div id="map"></div>
